.wrapper{
    width: 100%;
    overflow: auto;
    background-color: #E9EBEE;
}

.cover{
    width: 100%;
    height: 30vh;
}

#coverphoto{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}
.profile{
    background-color: #E9EBEE;
    width: 70%;
    height: 500px;
    margin: 0 15%;
}

.profilecolumn{
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 25%;
    margin-right: 1%;
}

.profilefeed{
    display: flex;
    flex-direction: column;
    float: left;
    width: 74%;
    height: 400px;
    background-color: #FFF;
    word-wrap: break-word;
    padding-bottom: 30px;
}

.profilepic{
    align-self: center;
    position: relative;
    top: -5em;
    margin-bottom: -4.5em;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid #FFF;
}

.description{
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 0.8rem;
    word-break: break-word;
}

.name{
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#handle{
    font-size: 0.8rem;
    color: #606060;
    font-weight: normal;
}

.icon{
    width: 1em;
    margin-right: 5px;
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #606060;
}

.profilebar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #FFF;
    height: 2.8em;
    border-bottom: 5px solid #E9EBEE;
}

#followbutton{
    margin: 0 4% 0 auto;
    color: #FF6464;
    border: solid #FF6464;
    font-family: "Arial Rounded MT Bold", "Helvetica";
    font-weight: bold;
    height: 40px;
    border-radius: 50px;
    background-color: #FFF;
}

.profilebarbutton{
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 1.3rem;
}

#marginleft{
    margin-left: 2%;
}

.linhavertical{
    height: 80%;
    border-right: 2px solid #FF6464;
    margin: 0 15px 0 15px;
}

#followbutton{
    align-self: flex-end;
    margin: auto 4% auto auto;
    color: #FF6464;
    border: solid #FF6464;
    font-family: "Arial Rounded MT Bold", "Helvetica";
    height: 40px;
    border-radius: 50px;
    background-color: #FFF;
}

.post{
    display: flex;
    margin: 0 10px;
}

.identifier{
    width: 100%;
    margin: 15px 0 6px 0;
    display: flex;
    align-items: center;
}

#size{
    width: 100%;
}

.name1{
    font-family: "Arial", sans-serif;
    margin-bottom: 5px;
}

#name2{
    margin: 0;
}

.handle1{
    font-family: "Arial", sans-serif;
    font-size: 0.8em;
    color: #606060;
}

#handle2{
    margin-left: 10px;
}

#timedot{
    margin: 0 10px;
}

.piu{
    width: 100%;
    word-wrap: break-word;
    margin: 0 0 11px 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

.piuimage{
    width: 100%;
    margin-top: 15px;
}

#linhavermelha{
    border-bottom-color: #FF6464;
    margin: 2% 20%;
}

.linhahorizontal2{
    border-bottom: 2px solid #D4D4D4;
    margin: 0 0 15px;
}

.likesbarra{
    display: flex;
    margin: 5px 0 0 0;
    height: 18px;
    align-items: center;
}

.likebuttondefault{
    background: url(../icons/likedefault.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    margin: 0 15px 0 0;
    border: none;
}

.likebuttonactive{
    background: url(../icons/likeactive.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    margin: 0 15px 0 0;
    border: none;
}

.likes{
    font-family: "Helvetica", "Arial";
    font-size: 0.9rem;
    font-weight: bold;
    color: #606060;
    margin: 0 0 0 -3px;
}

.closebutton{
    margin: 0 0 0 auto;
    background: url(../icons/delete.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border: none;
}

.editbutton{
    margin: 0 -2% 0 auto;
    background: url(../icons/edit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border: none;
}

.buttons{
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin: 0 0 0 auto;
}

.editbox{
    width: 95%;
    height: auto;
    font-family: "Helvetica", "Arial", sans-serif;
    resize: none;
    word-wrap: break-word;
    min-height: 100px;
}

.expand{
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #FF6464;
    justify-content: center;
}

.expandbutton{
    background: url(../icons/expand.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 0 auto;
    width: 20px;
    height: 20px;
    border: none;
}
