{% load static %}
<!DOCTYPE html>
    <html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PiuPiuwer - Main Feed</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/feedstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/barranav.css' %}">
        
    </head>    
    
    <body>
        
    <div class="wrapper">
        <div class="barranav">
            <div class="barranavinterface">
                <div class="barranavicone"></div>
                <div class="barranavsearch"><input type="text" placeholder="Search" ID="search"></div>
                <div class="barranavsep">
                    <a class="barranavbotao" href="{% url 'blog-home' %}"><img src="{% static 'blog/icons/home.png' %}" alt="Home" height=100%></a>
                    <div class="barranavbotao"><img src="{% static 'blog/icons/messages.png' %}" alt="Messages" height=100%></div>
                    <div class="barranavbotao"><img src="{% static 'blog/icons/notifications.png' %}" alt="Notifications" height=100%></div>
                    <a class="barranavperfil" href="{% url 'blog-profile' %}"><img src="{% static 'blog/images/homem.png' %}" height=80% ID="imagemperfil1"></a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="feed">
            
            <div class="feedsecundario1">
                <div class="title">Who to follow</div>
                <div class="linhahorizontal1"></div>
                <div class="profilebox">
                    <img src="{% static 'blog/images/billgates.jpg' %}" height = 50px ID="imagemperfil2">
                    <div class="profile">
                        <div class="name">Bill Gates</div>
                        <div class="handle">@BillGates</div>
                    </div>
                    <input type="submit" value="Follow" ID="followbutton">
                </div>
                <div class="profilebox">
                    <img src="{% static 'blog/images/elonmusk.jpg' %}" height = 50px ID="imagemperfil2">
                    <div class="profile">
                        <div class="name">Elon Musk</div>
                        <div class="handle">@elonmusk</div>
                    </div>
                    <input type="submit" value="Follow" ID="followbutton">
                </div>
                <div class="profilebox">
                    <img src="{% static 'blog/images/travisscott.jpg' %}" height = 50px ID="imagemperfil2">
                    <div class="profile">
                        <div class="name">Travis Scott</div>
                        <div class="handle">@trvisXX</div>
                    </div>
                    <input type="submit" value="Follow" ID="followbutton">
                </div>
            </div>
            
            <div class="feedprincipal">
                <div>
                    
                        <div class="piupost">
                            <div class="postar">
                                {% if user.is_authenticated %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <img src="{{ user.profile.image.url }}" height = 50px ID="imagemperfil2">
                                    <div> {{ form.content }} </div>
                                    <input type="submit" class="postbuttondefault" ID="postbutton" value="Post">
                                    <div class="contador"><span ID="contador-char"></span>/140</div>
                                </form>
                                {% else %}
                                    <a class="ml-2" href="{% url 'login' %}">Log in to piu.</a>
                                {% endif %}
                                
                            </div>
                            <div class="aviso"></div>
                        </div> 

                </div>
                <div class="piusgerais">
                    {% for post in posts %}
                        <div class="postao">
                                <div class="post">
                                    <img src="{{ post.image.url }}" height = 50px ID="imagemperfil2">
                                    <div class="size">
                                        <div class="identifier">
                                            <div class="name" ID="name2">{{post.name}}</div>
                                            <div class="handle" ID="handle2">@{{post.author}}</div>
                                            <div class="handle" ID="timedot" >·</div>
                                            <div class="handle">{{ post.date_posted|date:"g:i   j/n/y"}}</div>
                                            <div class="buttons">
                                                <button class="editbutton"></button>
                                                <button class="closebutton"></button>
                                            </div>
                                        </div>
                                        <div class="piu">{{ post.content }}</div>
                                        <div class="likesbarra">
                                            <button class="likebuttondefault likebutton"></button>
                                            <span class="likes">0</span>
                                            <button class="expandbutton"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="linhahorizontal2" ID="linhavermelha"></div>
                        </div>
                    {% endfor %}

                    <!--
                    <div class="postao">
                        <div class="post">
                            <img src="{% static 'blog/images/billgates.jpg' %}" height = 50px ID="imagemperfil2">
                            <div class="size">
                                <div class="identifier">
                                    <div class="name" ID="name2">Jeff Bezos</div>
                                    <div class="handle" ID="handle2">@JeffBezos</div>
                                    <div class="handle" ID="timedot" >·</div>
                                    <div class="handle">6h</div>
                                    <div class="buttons">
                                        <button class="editbutton"></button>
                                        <button class="closebutton"></button>
                                    </div>
                                </div>
                                <div class="piu">Thank you to our customers who donated relief items for a second Amazon Air plane of humanitarian aid. Together, more than 400,000 Amazon-donated & customer-donated items have been provided to those affected by #HurricaneDorian in the Bahamas & the US. http://Amazon.com/disasterrelief
                                <img src="{% static 'blog/images/jeffbezostweet.jpg' %}" class="piuimage">
                                </div>
                                <div class="likesbarra">
                                    <button class="likebuttondefault likebutton"></button>
                                    <span class="likes">54593</span>
                                    <button class="expandbutton"></button>
                                </div>
                            </div>
                        </div>
                        <div class="linhahorizontal2" ID="linhavermelha"></div>
                    </div>
                    <div class="postao">
                        <div class="post">
                            <img src="{% static 'blog/images/forbes.jpg' %}" height = 50px ID="imagemperfil2">
                            <div class="size">
                                <div class="identifier">
                                    <div class="name" ID="name2">Forbes</div>
                                    <div class="handle" ID="handle2">@Forbes</div>
                                    <div class="handle" ID="timedot" >·</div>
                                    <div class="handle">15h</div>
                                    <div class="buttons">
                                        <button class="editbutton"></button>
                                        <button class="closebutton"></button>
                                    </div>
                                </div>
                                <div class="piu">In a digital age where cloud-based services are now emerging at the forefront, major data breaches have become a far more prominent concern http://on.forbes.com/60121Gh5m #paid @ExtraHop
                                <img src="{% static 'blog/images/forbesimage.jpg' %}" class="piuimage">
                                </div>
                                <div class="likesbarra">
                                    <button class="likebuttondefault likebutton"></button>
                                    <span class="likes">29834</span>
                                    <button class="expandbutton"></button>
                                </div>
                            </div>
                        </div>
                        <div class="linhahorizontal2" ID="linhavermelha"></div>
                    </div>
                    <div class="postao">
                        <div class="post">
                            <img src="{% static 'blog/images/neto.jpg' %}" height = 50px ID="imagemperfil2">
                            <div class="size">
                                <div class="identifier">
                                    <div class="name" ID="name2">Craque Neto 10</div>
                                    <div class="handle" ID="handle2">@10neto</div>
                                    <div class="handle" ID="timedot" >·</div>
                                    <div class="handle">20h</div>
                                    <div class="buttons">
                                        <button class="editbutton"></button>
                                        <button class="closebutton"></button>
                                    </div>
                                </div>
                                <div class="piu">Hoje tive o privilégio de receber no @osdonosdabola a Tatiele Silveira, técnica da Ferroviária, campeã Brasileira de futebol feminino. Parabéns pelo título merecido!
                                <img src="{% static 'blog/images/netoimage.jpg' %}" class="piuimage">
                                </div>
                                <div class="likesbarra">
                                        <button class="likebuttondefault likebutton"></button>
                                        <span class="likes">5066</span>
                                        <button class="expandbutton"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                </div>
                
            </div>
            
            <div class="feedsecundario2">
                <div class="title">Trends for you</div>
                <div class="linhahorizontal1"></div>
                <div class="trendingpiu">
                    <div class="trendname">#PalmeirasBi-Rebaixado</div>
                    <div class="trendnumber">26.6K Pius</div>
                </div>
                <div class="linhahorizontal2"></div>
                <div class="trendingpiu">
                    <div class="trendname">#HojeTemGolDoGabigol</div>
                    <div class="trendnumber">15.8K Pius</div>
                </div>
                <div class="linhahorizontal2"></div>
                <div class="trendingpiu">
                    <div class="trendname">#XiaomiBotaApplePraMamar</div>
                    <div class="trendnumber">20.9K Pius</div>
                </div>
                <div class="linhahorizontal2"></div>
                <div class="trendingpiu">
                    <div class="trendname">#CanadaElection2019</div>
                    <div class="trendnumber">130.7K Pius</div>
                </div>
                <div class="linhahorizontal2"></div>
                <div class="trendingpiu">
                    <div class="trendname">#الهدف الاول</div>
                    <div class="trendnumber">22.3K Pius</div>
                </div> 
                <div class="footersec">PiuPiuwer™</div>
            </div>
            
        </div>
    </div>
    
        <script src="{% static 'blog/js/jquery.js' %}"></script>
        <script src="{% static 'blog/js/piu.js' %}"></script>
        <!--
        <script src="{% static 'blog/js/getpiu.js' %}"></script>
        -->

    </body>    
    
    </html>
    